
<tr id='row_<%= company.id %>'>
    <td id="company_<%=company.id%>"><%= company.name %></td>
    <td><%= link_to 'Detalle', company, data: {remote: true} %></td>
    <td><%= link_to 'Editar', edit_company_path(company), data: {remote: true} %></td>
    <td><%= link_to 'Eliminar', company, method: :delete, data: {confirm: '¿Estás seguro de eliminar la empresa?', remote: true} %></td>
</tr>