<%= form_with(model: Company.new) do |form| %>
    <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field py-3">
      <%= form.label :Empresa %>
      <%= form.text_field :name, required: true %>
      <%= form.submit %>
    </div>
<% end %>
